@model IEnumerable<Anz.Web.Models.Customer>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div>
        <h4>@item.FirstName @item.LastName</h4>
        <div>@item.Email</div>
        <hr>
    </div>


}
